<!DOCTYPE html>
<html>
<head>
	<title>About &mdash; Bendi Car</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a href="/" class="navbar-brand text-bold">
			<img src="/assets/img/logo3.png" alt="Logo Bendi Car" style="width: 40px;">	
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="/dashboard" class="nav-link">Dashboard</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="/peminjaman" class="nav-link">Peminjaman</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="/pengembalian" class="nav-link">Pengembalian</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="/penyewa" class="nav-link">Penyewa</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="/kendaraan" class="nav-link">Kendaraan</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="/denda" class="nav-link">Denda</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="/petugas" class="nav-link">Petugas</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a href="/about" class="nav-link">About</a>
				</li>
			</ul>
		</div>
	</nav>

	<script src="/assets/js/jquery-3.3.1.js"></script>
	<script src="/assets/js/bootstrap.js"></script>
	
</body>
</html>